# Python
*.pyc
__pycache__/

# Flask
server/venv/
server/grocery.db

# React / Node
client/node_modules
client/build/
client/.env
/node_modules
package-lock.json
package.json



SUGGESTIONS.md
notes.md
NEW_LIST_MODAL_DESIGN_IDEA.kra
grocery_list_app.xlsx
CURRENT_TASK.md
